;; User-level deps.edn (merged between install-level and project-level by the clj/clojure
;; scripts). Datomic-specific repos/aliases removed; general dev tooling kept.
;; see: https://github.com/seancorfield/dot-clojure

{:aliases
 {;; nREPL + CIDER middleware for editor integration:  clj -M:repl
  :repl
  {:extra-deps {nrepl/nrepl       {:mvn/version "1.3.0"}
                cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"]}

  ;; Test runner (kaocha):  clj -M:test:run-tests
  :test
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :extra-paths ["test" "resources/test"]}

  :run-tests
  {:main-opts ["-m" "kaocha.runner"]}

  ;; New project scaffolding:  clj -M:new app myname/myproj
  :new
  {:extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.2.404"}}
   :main-opts  ["-m" "clj-new.create"]}

  ;; Async profiler:  clj -M:profiler ...
  :profiler
  {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.2"}}
   :jvm-opts   ["-Djdk.attach.allowAttachSelf"]}}}
