[submodule "submodules/relevance/etc"]
	path = submodules/relevance/etc
	url = https://github.com/relevance/etc
[submodule "submodules/find-file-in-project"]
	path = submodules/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project
[submodule "submodules/align-cljlet"]
	path = submodules/align-cljlet
	url = https://github.com/gstamp/align-cljlet.git
[submodule "submodules/clojure-mode"]
	path = submodules/clojure-mode
	url = https://github.com/stuartsierra/clojure-mode
[submodule "submodules/cider"]
	path = submodules/cider
	url = https://github.com/stuartsierra/cider
[submodule "submodules/org-mode"]
	path = submodules/org-mode
	url = https://github.com/stuartsierra/org-mode
[submodule "submodules/magit"]
	path = submodules/magit
	url = https://github.com/magit/magit
[submodule "submodules/git-modes"]
	path = submodules/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "submodules/bazel"]
	path = submodules/bazel
	url = https://github.com/google/bazel
