[submodule "submodules/xcbuild"]
	path = submodules/xcbuild
	url = git@github.com:facebook/xcbuild.git
[submodule "ciao"]
	path = submodules/ciao
	url = git@github.com:adamtait/ciao.git
[submodule "submodules/ctheworld-cli"]
	path = submodules/ctheworld-cli
	url = git@github.com:adamtait/ctheworld-cli.git
