;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

;; see: https://github.com/seancorfield/dot-clojure


{
 :mvn/repos
 {
  "datomic-cloud"
  {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :aliases
 {
  :dev
  {
   :extra-deps
   {
    com.datomic/client-cloud         {:mvn/version "0.8.105"}
    com.datomic/ion-dev              {:mvn/version "0.9.282"
                                      :exclusions  [org.slf4j/slf4j-nop]}
    com.stuartsierra/component.repl  {:mvn/version "0.2.0"}
    io.aviso/pretty                  {:mvn/version "0.1.37"}
    spyscope                         {:mvn/version "0.1.6"}}
   :extra-paths ["dev"]}

  :httpd
  {
   :extra-deps {nasus {:mvn/version "0.1.7"}}
   :main-opts  ["-m" "http.server"]}

  :ion-dev
  {
   :deps {com.datomic/ion-dev {:mvn/version "0.9.282"}}
   :main-opts ["-m" "datomic.ion.dev"]}

  :log
  {
   :extra-deps
   {
    ch.qos.logback/logback-classic         {:mvn/version "1.2.3"
                                            :exclusions  [org.slf4j/slf4j-api]}
    org.slf4j/slf4j-api                    {:mvn/version "1.7.14"}
    org.slf4j/jul-to-slf4j                 {:mvn/version "1.7.14"}
    org.slf4j/jcl-over-slf4j               {:mvn/version "1.7.14"}
    org.slf4j/log4j-over-slf4j             {:mvn/version "1.7.14"}}

   :extra-paths ["resources/logging/dev"]}

  :new
  {
   :extra-deps {seancorfield/clj-new {:mvn/version "0.7.7"}}
   :main-opts  ["-m" "clj-new.create"]}
  
  :profiler
  {
   :extra-deps
   {
    com.clojure-goes-fast/clj-async-profiler
    {:mvn/version "0.5.0"}}

   :jvm-opts ["-Djdk.attach.allowAttachSelf"]}

  :repl
  {
   :extra-deps
   {
    cider/cider-nrepl                {:mvn/version "0.25.8"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :run-tests
  {
   :main-opts ["-m" "kaocha.runner"]
   ;;:main-opts ["-m" "cognitect.test-runner"]
   }
  
  :test
  {
   :extra-deps
   {
    com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     ;; "b6b3193fcc42659d7e46ecd1884a228993441182"
     :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
    
    lambdaisland/kaocha {:mvn/version "1.0.829"}}
   
   :extra-paths ["test" "resources/test"]}
  }}
